@use "variables" as v;
@use "../util/" as u;

::selection {
  background-color: hsl(var(--selection-bg));
  color: hsl(var(--white));
}

::-moz-selection {
  background-color: hsl(var(--selection-bg));
  color: hsl(var(--white));
}

html {
  font-size: 100%;
  font-family: v.$ff-barlow;
}
body {
  background-color: hsl(var(--white));
  font-size: u.rem(18);
  // background-image: url("../../../images/bg-hero-mobile.svg");
  // background-repeat: no-repeat;
  // @include u.breakpoint-up(small) {
  //   background-image: url("../../../images/bg-hero-desktop.svg");
  //   background-repeat: no-repeat;
  // }
}
p:not([class]) {
  opacity: 0.7;
  max-width: 32ch;
}
