@use "../globals/" as g;
@use "../util/" as u;
@use "../mixin/" as m;

/**
 * Colors
 */

.bg-white {
  background: hsl(var(--white));
}
.clr-white {
  color: hsl(var(--white));
}
.bg-moderate-cyan {
  background: hsl(var(--moderate-cyan));
}
.bg-cyan {
  background: hsl(var(--bg-cyan));
}
/**
 * Position
 */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/**
 * ### With container
 */
.container {
  --max-width: 1440px;
  --container-padding: 1rem;
  width: min(var(--max-width), 100% - (var(--container-padding) * 0));
  margin-inline: auto;
}
/**
 * ### Grid 
 */
.grid-columns {
  display: grid;
  align-content: space-around;

  @include u.breakpoint-up(small) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
/**
 * ### Gap 
 */
.gap-1{
  gap: 1rem;
}
.gap-2{
  gap: 2rem;
}
.gap-3{
  gap: 3rem;
}
/**
 * ### Align items center 
 */
.align-itm-center {
  align-items: center;
}
/**
 * ### Justify content center , start
 */
.justify-cont-center {
  justify-content: center;
}
.justify-cont-start {
  justify-content: start;
}
/**
 * ### Justify items center , start
 */
.justify-item-center {
  justify-items: center;
}
.justify-items-start {
  justify-items: start;
}
/**
 * ### Text  center 
 */
.text-align-center {
  text-align: center;
}
/**
 * Flow -Creating an upper edge for all descendants except the first.
 * inline style --> style="--flow-spacer: 1.5rem"
 */
:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}
/**
 * ### Margin Padding position
 */
.margin-bottom-700 {
  margin-block-end: g.$size-700;
}
/**
 * Padding top and bottom
 */
.padding-block-600 {
  padding-block: g.$size-600;
}
.padding-block-700 {
  padding-block: g.$size-700;
}
.padding-block-900 {
  padding-block: g.$size-900;
}
.padding-lr-400 {
  padding-inline: g.$size-400;
}
.padding-lr-600 {
  padding-inline: g.$size-600;
}
.padding-lr-800 {
  padding-inline: g.$size-800;
}

/**
 * ### Font Size
 */
.fs-400 {
  font-size: g.$size-400;
}
.fs-600 {
  font-size: g.$size-600;
}
.fs-700 {
  font-size: g.$size-700;
}
