.grid-effect {
  overflow: hidden;
  margin: 0;
  padding: 3em 0 0 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid-effect figure.effect-figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  margin: -0.135em;
  width: 33.333%;
  height: 400px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid-effect figure.effect-figure img.effect-img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}

.grid-effect figure.effect-figure figcaption.effect-figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid-effect figure.effect-figure figcaption.effect-figcaption::before,
.grid-effect figure.effect-figure figcaption.effect-figcaption::after {
  pointer-events: none;
}

.grid-effect figure.effect-figure figcaption.effect-figcaption,
.grid-effect figure.effect-figure a.effect-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid-effect figure.effect-figure a.effect-link {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-figure.effect-lily img.effect-img {
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

figure.effect-figure.effect-lily figcaption.effect-figcaption {
  top: auto;
  bottom: 0;
  height: 50%;
  text-align: left;
}

figure.effect-figure.effect-lily h2.effect-title,
figure.effect-figure.effect-lily p.effect-description {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

figure.effect-figure.effect-lily h2.effect-title {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-figure.effect-lily p.effect-description {
  color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

figure.effect-figure.effect-lily:hover img.effect-img,
figure.effect-figure.effect-lily:hover p.effect-description {
  opacity: 1;
}

figure.effect-figure.effect-lily:hover img.effect-img,
figure.effect-figure.effect-lily:hover h2.effect-title,
figure.effect-figure.effect-lily:hover p.effect-description {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-figure.effect-lily:hover p.effect-description {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-figure.effect-sadie figcaption.effect-figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
    top,
    rgba(72, 76, 97, 0) 0%,
    rgba(72, 76, 97, 0.8) 75%
  );
  background: linear-gradient(
    to bottom,
    rgba(72, 76, 97, 0) 0%,
    rgba(72, 76, 97, 0.8) 75%
  );
  content: "";
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}

figure.effect-figure.effect-sadie h2.effect-title {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #484c61;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

figure.effect-figure.effect-sadie figcaption.effect-figcaption::before,
figure.effect-figure.effect-sadie p.effect-description {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-figure.effect-sadie p.effect-description {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.effect-figure.effect-sadie:hover h2.effect-title {
  color: #fff;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

figure.effect-figure.effect-sadie:hover figcaption.effect-figcaption::before,
figure.effect-figure.effect-sadie:hover p.effect-description {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
