@use "../globals/" as g;
@use "../util/" as u;
@use "../mixin/" as m;

.futures-card {
  align-items: center;
  text-align: center;
  height: 100%;

  @include u.breakpoint-up(small) {
    text-align: left;
    height: 100%;
  }
}
.card-content {
  padding-block: u.rem(40);
  padding-inline: u.rem(20);
  @include u.breakpoint-up(small) {
    padding-inline: u.rem(30);
    padding-block: 0;
  }
  @include u.breakpoint-up(medium) {
    padding-inline: u.rem(100);
    padding-block: 0;
  }
}
.card-title {
  font-family: g.$ff-fraunces;
  font-size: u.rem(44);
  color: hsl(var(--dark-blue));
  font-weight: 900;

  @include u.breakpoint-up(small) {
    font-size: u.rem(28);
  }

  @include u.breakpoint-up(large) {
    font-size: u.rem(42);
  }
}
.card-description {
  color: hsl(var(--dark-grayish-blue));
  font-size: u.rem(20);
  font-weight: 600;
}
.card-picture {
  min-height: 100%;
  min-width: 100%;
}
.card-dense {
  @include u.breakpoint-up(small) {
    order: 1;
  }
}
a.card-link {
  display: block;
  position: relative;
  font-size: u.rem(18);
  text-decoration: none;
  font-family: g.$ff-fraunces;
  color: hsl(var(--dark-blue));
  font-weight: 900;
  text-transform: uppercase;
  &::before {
    position: absolute;
    content: "";
    top: 60%;
    border-radius: 100vmax;
    z-index: -1;
    width: u.rem(135);
    height: u.rem(8);
    background-color: hsl(var(--yellow) / 0.4);
  }
  &:hover,
  &:focus {
    &::before {
      background-color: hsl(var(--yellow));
    }
  }

  @include u.breakpoint-up(small) {
    text-align: left;
  }
}

a.card-link[data-type="inverted"] {
  &::before {
    background-color: hsl(var(--red) / 0.4);
  }
  &:hover,
  &:focus {
    &::before {
      background-color: hsl(var(--red));
    }
  }
}
.card-img-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 60%;
  padding-inline: u.rem(50);
  @include u.breakpoint-up(small) {
    padding-inline: u.rem(60);
    top: 55%;
  }
  @include u.breakpoint-up(medium) {
    padding-inline: u.rem(100);
    top: 55%;
  }
}
.card-img-title {
  font-family: g.$ff-fraunces;
  font-size: u.rem(34);
  color: hsl(var(--dark-blue) / 0.7);
  font-weight: 900;

  @include u.breakpoint-up(small) {
    font-size: u.rem(38);
  }
}
.card-img-description {
  color: hsl(var(--dark-blue) / 0.7);
  font-size: u.rem(18);
  @include u.breakpoint-up(small) {
    font-size: u.rem(18);
  }
}
/**
 * TESTIMONIALS 
 */
.testimonials-title{
  font-family: g.$ff-fraunces;
  font-size: u.rem(24);
  color: hsl(var(--dark-grayish-blue) / 0.7);
  letter-spacing: 6px;
  font-weight: 900;
  text-transform: uppercase;

  @include u.breakpoint-up(small) {
    font-size: u.rem(20);
  }
}

:where(.flow-testimonials :not(:last-child)) {
  margin-top: var(--flow-spacer, 3em);
}
.testimonials-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: u.rem(20);
}
.testimonials-figure {
  height: 80px;
  width: 80px;
}
.testimonials-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.testimonials-blockqoute {
  display: block;
  height: 100%;
  color: hsl(var(--dark-grayish-blue));
  line-height: 2;
}
.testimonials-name{
  font-family: g.$ff-fraunces;
  font-size: u.rem(24);
  color: hsl(var(--dark-blue));
  font-weight: 900;
}
.testimonials-status{
  font-family: g.$ff-barlow;
  font-size: u.rem(16);
  color: hsl(var(--dark-grayish-blue)/0.5);
  margin-bottom:u.rem(50);
}
